@model IEnumerable<BO.Samourai>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Force)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            Arme
        </th>
        <th>
            Force de l'arme
        </th>
        <th>
            Potentiel
            (force + arme * nb martial)
        </th>
        <th>
            Art Martial
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Force)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nom)
    </td>
    <td>
        @if (item.Arme != null)
        {
            @Html.DisplayFor(modelItem => item.Arme.Nom)
        }
        else
        {
            <span>Pas d'arme</span>
        }
    </td>
    <td>
        @if (item.Arme != null)
        {
            @Html.DisplayFor(modelItem => item.Arme.Degats)
        }
        else
        {
            <span>0</span>
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Somme)
    </td>
    <td>
        @if (item.ArtMartials != null)
        {
            foreach (var artMartial in item.ArtMartials)
            {
                @Html.DisplayFor(modelItem => artMartial.Nom)<br>
            }
        }
        else
        {
            <span>Pas d'art martial</span>
        }
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
